/* This file is subject to a 1-clause BSD license.
   Its contents can be found in the enclosed LICENSE file. */

.icon {
 margin: 0;
 margin-right: 10px;
 margin-left: 10px;
 padding: 0;
 font-size: 4em;
 font-weight: bold;
 text-shadow: 0 0 10px #000;
 color: #ccc;
}

.icon-error { color: #a00 }
.icon-info { color: #0a0 }
.icon-denied { color: #a00 }
.icon-question { }
.icon-arrow-left { }
.icon-arrow-up { }
.icon-arrow-right {  }
.icon-arrow-down { }
.icon-arrow-leftright { }
.icon-arrow-updown { }
