/* This file is subject to a 1-clause BSD license.
   Its contents can be found in the enclosed LICENSE file. */

html, body {
 cursor: default;
 color: #fff;
 background-color: #111;
 overflow: hidden;
 padding: 0;
 margin: 0;
 font-family: verdana, sans-serif;
 font-size: 1em;
}

#dashboard {
 z-index: 90;
 background-color: #555;
 background: -webkit-gradient(linear, left bottom, left top, from(#333), to(#555));
 background: -moz-linear-gradient(bottom, #333, #555);
 background: linear-gradient(bottom, #333, #555);
 position: absolute;
 top: 0; left: 0; right: 0;
 box-shadow: 0px 0px 15px #000;
 height: 50%;
 min-height: 250px;
}

#dashboardItems {
 padding: 20px;
 margin: 0;
 width: 180px;
}

#dashboardItems ul {
 padding: 0;
 margin: 0;
 list-style: none;
}

#dashboardItems li {
 text-align: right;
}

#dashboardItems button {
 font-size: 1em;
 padding: 3px;
 margin: 1px;
 color: #ccc;
 background-color: transparent;
 border: 0;
 border-bottom: 1px solid transparent;
 cursor: pointer;
 text-align: right;
 width: 100%;
}

#dashboardItems button:hover {
 border-bottom: 1px solid #ccc;
}

#dashboardItems button.active {
 color: #09f;
}

#dashboardOverview {
 position: absolute;
 right: 10px;
 top: 10px;
 bottom: 10px;
 left: 210px;
 margin: 0;
 padding: 10px;
 padding-left: 20px;
 border-left: 1px solid #09f;
 border-radius: 10px 10px 10px 10px;
 background-color: #555;
 background: -webkit-gradient(linear, left bottom, left top, from(#444), to(#666));
 background: -moz-linear-gradient(bottom, #444, #666);
 background: linear-gradient(bottom, #444, #666);
 overflow: hidden;
}

#workspace {
 z-index: 1;
 margin: 0;
 padding: 0;
 background-color: #222;
 top: 0; left: 0; right: 0; bottom: 0;
 position: absolute;
 overflow: hidden;
}
