/* This file is subject to a 1-clause BSD license.
   Its contents can be found in the enclosed LICENSE file. */

#statetracker {
 z-index: 80;
 position: absolute;
 bottom: 10px; right: 10px;
 overflow: hidden;
 margin: 0;
 padding: 5px;
 width: 50px;
 height: 50px;
 background-color: transparent;
 background-image: url("/img/network-error.png");
 background-repeat: no-repeat;
 background-position: center center;
 color: #fff;
}
