/* This file is subject to a 1-clause BSD license.
   Its contents can be found in the enclosed LICENSE file. */

#workspace {
 z-index: 10;
 margin: 0;
 padding: 0;
 background-color: #222;
 background-image: url("/img/fabric.png");
 background-repeat: repeat;
 top: 0; left: 0; right: 0; bottom: 0;
 position: absolute;
 overflow: hidden;
}
